$font-size-root: 10px;

$main-color: #2796B2;
$main-light-color: #eff7fb;
$grey: #717171;
$light-grey: #909090;
$lighter-grey: rgb(228,228,228);
$field-background: #edf6fb;
$light-blue: rgba(39, 150, 178, 0.35);